$input_label_color: #777373;
$input_bg_color: #ccc;
$input_bg_text_color: #716969;
$current_address_input_bg: #ccc;
$curr_add_text_color: #716969;
$h3_color: #5d5757;
$footer_bg: #1d1d1c;

*{
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #fff;
    height: 1500px;;
  }
  
  .account_header {
  
    width: auto;
    height: 50px;
    margin-bottom: 25px;

    h2{
        background-color: #ccc !important;
    padding: 10px 0px 10px 10px;
    color: $h3_color;
    }
  }
  .customer_profile {
    width: auto;
    height: auto;
    position: relative;
    display: block;
    border-bottom: 2px solid #ccc;
    margin-top: 40px;

    img {
        border-radius: 50px;
        width: 100px;
        height: 100px;
        margin-bottom: 20px;
        display: block;
    }
    h3 {
        margin-top: 33px;
        margin-left: -44px;
        font-weight: bold;
        color: $h3_color;
    }
    input{
        font-weight: bold;
        color: #777373;
    }

.form-group::before { 
        content: "$";
    display: block;
    float: left;
    margin: 6px 0px 0px -14px;
    font-weight: bold;
    
    }
 



.btn{
    width:45px;
    height: 30px;
    font-weight: bold
}





}



/*Start of Customer Details*/

.customer_details {
    width: auto;
    height: auto;
    position: relative;
    margin-top: 40px;
    h3{
        color: $h3_color;
    }

    label,
    .customer_profile label,
    .current_address label{
        font-weight: bold;
        color:$input_label_color;
    }


    input[type="text"],
    .current_address input[type="text"] {
        background-color: $input_bg_color;
        color:$input_bg_text_color;
    }

}

/*Start of Customer Details*/




/* Start of current street style*/

.current_address{
    width: auto;
    height: auto;
    position: relative;
    margin-top: 40px;
    h3{
        color: $h3_color;
    }
input[type="text"]{
    background-color: $current_address_input_bg;
    color: $curr_add_text_color;
  
}
label{
    font-weight: bold;
    color: $input_label_color;
}

}



/*Start of account type*/
.account_type{
    width: auto;
    height: auto;
    position: relative;
    margin-top: 40px;
 b{

    color: #595c5f!important;
    font-size: 19px;
    margin-left: 11px;
 }   

h3{
    color: $h3_color;
}
 

input[type="radio"]{
    height: 20px;
    width: 20px;
   
}
.btn-outline-info{
    min-width: 80%;
    margin-top: 20px;
    font-weight: bold;
    border-radius: 50px;
    text-transform: uppercase;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;

    &:hover{
        color: lighten( #17a2b8, 88% );
        border-radius: 50px;
        border: 1px solid darken( #43ddf5, 1% );;
        background-color: darken( #17a2b8, 1% );
        min-width: 82%;

    
    }
}



}

/* End of account type */



/*Start of security question section */

.security_questions{
    width: auto;
    height: auto;
    position: relative;
    margin-top: 40px;
    h3{
        color: $h3_color;
    }
}

/*End of security question section*/



/*Start of footer*/
.footer{
    height: 50px;
    width: auto;
    margin-top: 200px;
    background-color: $footer_bg;
    position: relative;
    display: block;

p{
    color: #5f5c5c;
    line-height: 50px;
    text-align: center
}
}
/*end of footer*/